.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .box {
  width: 400px;
  margin-left: 20px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .box .title {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
}

.container .box .title .block {
  width: 0%;
  height: inherit;
  background: #ffb510;
  position: absolute;
  -webkit-animation: mainBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
          animation: mainBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .box .title h1 {
  width: 300px;
  color: #fff;
  font-size: 20px;
  -webkit-animation: mainFadeIn 2s forwards;
  animation: mainFadeIn 2s forwards;
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  color: #dadada;
  position: relative;
}

.container .box .title h1 span {
  width: 0px;
  height: 0px;
  border-radius: 50%;
  background: #ffb510;
  -webkit-animation: load 0.6s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  animation: popIn 0.8s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  margin-left: 5px;
  margin-top: -10px;
  position: absolute;
  bottom: 13px;
  right: -12px;
}

.container .box .role {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  margin-top: -10px;
}

.container .box .role .block {
  width: 0%;
  height: inherit;
  background: #e91e63;
  position: absolute;
  -webkit-animation: secBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
          animation: secBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .box .role p {
  -webkit-animation: secFadeIn 2s forwards;
          animation: secFadeIn 2s forwards;
  -webkit-animation-delay: 3.2s;
          animation-delay: 3.2s;
  opacity: 0;
  font-weight: 400;
  color: #cfcfcf;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

@-webkit-keyframes mainBlock {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes mainBlock {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@-webkit-keyframes secBlock {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes secBlock {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@-webkit-keyframes mainFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes mainFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes popIn {
  0% {
    width: 0px;
    height: 0px;
    background: #e9d856;
    border: 0px solid #ddd;
    opacity: 0;
  }
  50% {
    width: 10px;
    height: 10px;
    background: #e9d856;
    opacity: 1;
    bottom: 45px;
  }
  65% {
    width: 7px;
    height: 7px;
    bottom: 0px;
    width: 15px;
  }
  80% {
    width: 10px;
    height: 10px;
    bottom: 20px;
  }
  100% {
    width: 7px;
    height: 7px;
    background: #e9d856;
    border: 0px solid #222;
    bottom: 13px;
  }
}

@keyframes popIn {
  0% {
    width: 0px;
    height: 0px;
    background: #e9d856;
    border: 0px solid #ddd;
    opacity: 0;
  }
  50% {
    width: 10px;
    height: 10px;
    background: #e9d856;
    opacity: 1;
    bottom: 45px;
  }
  65% {
    width: 7px;
    height: 7px;
    bottom: 0px;
    width: 15px;
  }
  80% {
    width: 10px;
    height: 10px;
    bottom: 20px;
  }
  100% {
    width: 7px;
    height: 7px;
    background: #e9d856;
    border: 0px solid #222;
    bottom: 13px;
  }
}

@-webkit-keyframes secFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes secFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

footer {
  width: 350px;
  height: 80px;
  background: #ffb510;
  position: absolute;
  right: 0;
  bottom: -80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: top 0.8s forwards;
          animation: top 0.8s forwards;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

footer span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 12px;
  color: #232323;
  font-family: 'Poppins';
}

footer span i {
  margin-right: 25px;
  font-size: 22px;
  color: #232323;
  -webkit-animation: icon 2s forwards;
          animation: icon 2s forwards;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  opacity: 0;
}

@-webkit-keyframes top {
  0% {
    opacity: 0;
    bottom: -80px;
  }
  100% {
    opacity: 1;
    bottom: 0px;
  }
}

@keyframes top {
  0% {
    opacity: 0;
    bottom: -80px;
  }
  100% {
    opacity: 1;
    bottom: 0px;
  }
}

@-webkit-keyframes icon {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.3) rotate(-2deg);
            transform: scale(1.3) rotate(-2deg);
  }
  100% {
    opacity: 1;
    bottom: 0px;
  }
}

@keyframes icon {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.3) rotate(-2deg);
            transform: scale(1.3) rotate(-2deg);
  }
  100% {
    opacity: 1;
    bottom: 0px;
  }
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  -ms-grid-columns: 15fr 1.8fr;
      grid-template-columns: 15fr 1.8fr;
}

.wrapper section {
  background-color: beige;
  padding-right: 1px;
}

.wrapper section .slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

.wrapper section .slideshow-container img {
  width: 100%;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -o-object-position: center center;
     object-position: center center;
}

.wrapper section .prev, .wrapper section .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.wrapper section .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.wrapper section .prev:hover, .wrapper section .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.wrapper section .text {
  color: #c52f2f;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.wrapper section .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0.1s;
  animation-name: fade;
  animation-duration: 0.1s;
}

@-webkit-keyframes fade {
  from {
    opacity: .0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

.wrapper aside {
  display: -ms-grid;
  display: grid;
  background-color: bisque;
  overflow: scroll;
  -ms-grid-rows: 10fr;
      grid-template-rows: 10fr;
  cursor: pointer;
}

.wrapper aside .row {
  background-color: aqua;
  opacity: 0.6;
}

.wrapper aside .row .column {
  position: relative;
  overflow: hidden;
  height: 150px;
}

.wrapper aside .row .column img {
  width: 100%;
  min-height: 150px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.wrapper aside .row .column img:hover {
  position: absolute;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.wrapper aside .active {
  opacity: 1;
  -webkit-transition: 1s;
  transition: 1s;
}

.wrapper aside::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 600px) {
  body {
    overflow: auto;
  }
  .wrapper {
    display: -ms-grid;
    display: grid;
    height: 100%;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    overflow: hidden;
  }
  .wrapper section {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding-right: 0px;
  }
  .wrapper section .mySlides {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center center;
       object-position: center center;
  }
  .wrapper section .prev, .wrapper section .next {
    cursor: pointer;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100px;
    height: 100vh;
  }
  .wrapper aside {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .wrapper aside .row {
    background-color: aqua;
    opacity: 1;
  }
  .wrapper aside .row .column {
    position: relative;
    overflow: hidden;
    height: 150px;
  }
  .wrapper aside .row .column img {
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
}

@media only screen and (max-width: 1000px) and (min-width: 601px) {
  body {
    overflow: auto;
  }
  .wrapper {
    display: -ms-grid;
    display: grid;
    height: 100%;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    overflow: hidden;
  }
  .wrapper section {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding-right: 0px;
  }
  .wrapper section .mySlides {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center center;
       object-position: center center;
  }
  .wrapper section .prev, .wrapper section .next {
    cursor: pointer;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100px;
    height: 100vh;
  }
  .wrapper aside {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .wrapper aside .row {
    background-color: aqua;
    opacity: 1;
  }
  .wrapper aside .row .column {
    position: relative;
    overflow: hidden;
    height: 150px;
  }
}
/*# sourceMappingURL=main.css.map */